{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'scheduling:home' %}">Home</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'profile' %}">Profile</a></li>
    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
