{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}— Update Doctor Information{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'scheduling:home' %}">Home</a></li>
    <li class="breadcrumb-item active"><a href="{{ next_url }}">Appointment Detail</a></li>
    <li class="breadcrumb-item active" aria-current="page">Update Doctor</li>
{% endblock %}

{% block content %}

<form method="POST" action="?next={{ next_url }}">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-outline-light" type="submit" value="update">
</form>

{% endblock %}