{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'scheduling:home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Appointment Detail</li>
{% endblock %}

{% block content %}
    <h4>{{ object }}</h4>
    <h5>{{ object.appointment_date }}</h5>
    <h5>Applicant: {{ object.applicant }}</h5>
    <h5>Doctor: {{ object.doctor }}</h5>
    <a href="{% url 'scheduling:update' object.id %}">Change appointment date</a>
    <a href="{% url 'applicants:update' object.applicant.id %}?next={{ request.path }}">edit applicant</a>
    <a href="{% url 'doctors:update' object.doctor.id %}?next={{ request.path }}">edit doctor</a>
    <a href="{% url 'scheduling:delete' object.id %}">Delete appointment</a>
{% endblock %}