{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'scheduling:home' %}">Home</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'scheduling:appointment' object.id %}">Appointment Detail</a></li>
    <li class="breadcrumb-item active" aria-current="page">Confirm Delete Appointment</li>
{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <p>You are about to confirm and delete the appointment permanently.</p>
    <input class="btn btn-danger" type="submit" value="Confirm & Delete">
    <button class="btn btn-outline-secondary btn-sm"><a href="{% url 'scheduling:appointment' object.id %}">Cancel</a></button>
</form>

{% endblock %}