{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'scheduling:home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Appointment Detail</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h1>{{ object.applicant }}'s Appointment </h1>
            <h2>On {{ object.appointment_date }}</h2>
            <h2>With Dr. {{ object.doctor }}</h2>
        </div>
        <div class="col-3">
            <ul class="list-unstyled">
                <li><a class="btn btn-outline-info btn-sm m-1" href="{% url 'scheduling:update' object.id %}">Change Appointment Date</a></li>
                <li><a class="btn btn-outline-info btn-sm m-1" href="{% url 'applicants:update' object.applicant.id %}?next={{ request.path }}">Edit Applicant</a></li>
                <li><a class="btn btn-outline-info btn-sm m-1" href="{% url 'doctors:update' object.doctor.id %}?next={{ request.path }}">Edit Doctor</a></li>
                <br />
                <li><a class="btn btn-outline-danger" href="{% url 'scheduling:delete' object.id %}">Confirm/Delete Appointment</a></li>
            </ul>
        </div>
    </div>

{% endblock %}