{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col">
                <h2 class="text-right mr-3">Appointments scheduled by <a class="text-light" href="{% url 'profile' %}">{{ user.username }}</a></h2>
            </div>
        </div>
        <div class="row mt-5">

            <div class="col-sm-7 col-lg-6 order-lg-2">
                <a class="btn btn-outline-primary btn-lg btn-block mb-3 py-3" href="{% url 'scheduling:new_appointment' %}">Schedule new appointment</a>
            </div>

            <div class="col-sm-7 col-lg-6 order-lg-1">
                {% if todays_appointments %}
                <h3>Today's appointments</h3>
                <ol>
                    {% for appointment in todays_appointments %}
                        <li>
                            <a href="{% url 'scheduling:appointment' appointment.id %}">
                                Applicant: {{ appointment.applicant }}, Doctor: {{ appointment.doctor }} on {{ appointment.appointment_date|date:"M d, Y g:iA" }}, {{ appointment.created_by}}
                            </a>
                        </li>
                    {% endfor %}
                </ol>
                {% endif %}
            </div>

            <div class="col-sm-7 col-lg-6 order-lg-3">
                {% if upcoming_appointments %}
                <h4>Upcoming appointments</h4>
                <ol>
                    {% for appointment in upcoming_appointments %}
                        <li>
                            <a href="{% url 'scheduling:appointment' appointment.id %}">
                                Applicant: {{ appointment.applicant }}, Doctor: {{ appointment.doctor }} on {{ appointment.appointment_date|date:"M d, Y g:iA" }}, {{ appointment.created_by}}
                            </a>
                        </li>
                    {% endfor %}
                </ol>
                {% endif %}
            </div>

            <div class="col-sm-7 col-lg-6 order-lg-4">
                {% if past_appointments %}
                <h4>Past appointments</h4>
                <ol>
                    {% for appointment in past_appointments %}
                        <li>
                            <a href="{% url 'scheduling:appointment' appointment.id %}">
                                Applicant: {{ appointment.applicant }}, Doctor: {{ appointment.doctor }} on {{ appointment.appointment_date|date:"M d, Y g:iA" }}, {{ appointment.created_by}}
                            </a>
                        </li>
                    {% endfor %}
                </ol>
                {% endif %}
            </div>

        </div>
    {% else %}
        <div class="row">
            <div class="col">
                <h2>Welcome to Adjango Beta's scheduling app.</h2>
                <p>This app is created for helping firms and individuals to schedule California's Workers' Compensation QME/AME evaluations.</p>
                <br />
                <br />
                <br />
                <br />
                <h5>Current features:</h5>
                <ul>
                    <li>Allow users to schedule and track QME appointment dates</li>
                    <li>Display filtered lists of upcoming and past appointments</li>
                </ul>
                <br />
                <p><a class="text-info" href="{% url 'account_login' %}">Sign in</a> and start using the app today!</p>
            </div>
        </div>
    {% endif %}

{% endblock %}