{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}— Schedule a New QME Appointment{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'scheduling:home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">New Appointment</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        <form method="POST">
            {% csrf_token %}
            {{ s_form|crispy }}
            {{ a_form|crispy }}
            {{ d_form|crispy }}
            <button class="btn btn-outline-light" type="submit">Schedule</button>
        </form>
    </div>
</div>


{% endblock %}