{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'scheduling:home' %}">Home</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'scheduling:appointment' object.id %}">Appointment Detail</a></li>
    <li class="breadcrumb-item active" aria-current="page">Update Appointment Date</li>
{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class='btn btn-outline-light' type="submit">Submit</button>
</form>

{% endblock %}