body {
    background: #272727;  /* fallback for old browsers */
    color: rgb(236, 236, 236); 
}

/* .navbar {
    background-color: #45543D;
}

.breadcrumb {
    background: linear-gradient(#45543D, #9eac97);
} */

a {
    color: rgb(218, 218, 218);
}

