{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}— Profile{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'scheduling:home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Profile</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="d-flex">
            <img class="img-thumbnail" src="{{ user.profile.image.url }}">
            <div class="ml-3">
                <h2>{{ user.username }}</h2>
                {% if user.email %}
                <p>{{ user.email }}</p>
                {% else %}
                <p>You currently do not have a registered email. Register <a class="text-info" href="{% url 'account_email' %}">here.</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ u_form|crispy }}
            {{ p_form|crispy }}
            <hr />
            <input class="btn btn-outline-light" type="submit" value="Update Profile">
        </form>
        <br />
        <a class="btn btn-outline-light" href="{% url 'account_change_password' %}">Change password</a>
        <a class="btn btn-outline-light" href="{% url 'account_email' %}">Change email</a>
    </div>
</div>

{% endblock %}